# Estimating Assessed Value of Properties    Using the Zillow Dataset

Cris Giovanoni  
October 21, 2019
___

## Assumptions/Notes  
- Square footage accounted all living, finished spaces. The values **excluded** the following:
  - Basement
  - Garage
  - Yard
  - Entire lot
- Types of Single Unit housing included in the analysis:
   - 261	Single Family Residential
   - 262	Rural Residence
   - 263	Mobile Home
   - 264	Townhouse
   - 265	Cluster Home
   - 268	Row House
   - 269	Planned Unit Development
   - 273	Bungalow
   - 275	Manufactured, Modular, Prefabricated Homes
   - 276	Patio Home

---
## _Producing Baseline Model_

## ACQUIRE
PROJECT PLAN -> **ACQUIRE** -> PRE-PROCESS -> MODEL ->

Get data from SQL and filter data with the following conditions:
tk

In [6]:
import pandas as pd
import numpy as np

import zillow_util as util

In [11]:
zillow = util.filter_zillow_baseline(util.get_sql_zillow())

In [14]:
zillow.head(1)

           id    sqft  bathcnt  bedcnt  transdate  propvalue
868  11289917  1458.0      2.0     3.0 2017-06-23   136104.0

## PRE-PROCESS
PROJECT PLAN -> ACQUIRE -> **PRE-PROCESS** -> MODEL ->

Separate the features (X) and target (y) columns. Then, split data to train and test, resulting to four data frames with X and y separated and partitioned into two.

In [24]:
X = zillow[["sqft","bathcnt","bedcnt"]]
y = zillow.propvalue

In [25]:
X_train, X_test, y_train, y_test = util.split_my_data(X, y, 0.7)

Scale train and test data with all X.  
Scaled X train data will be fitted into to the model later.  
Scaled X test data will be used post-modelling phase to test the baseline model.

In [34]:
scaled_X_train, scaled_X_test, standard_scaler = util.standard_scaler(X_train, X_test)

In [41]:
scaled_X_test.describe()

               sqft      bathcnt       bedcnt
count   4714.000000  4714.000000  4714.000000
mean    1960.238651     2.363067     3.326474
std     1023.285677     1.032196     0.942947
min      389.000000     0.000000     0.000000
25%     1290.250000     2.000000     3.000000
50%     1680.500000     2.000000     3.000000
75%     2344.750000     3.000000     4.000000
max    11478.000000    11.000000    10.000000